If and Else

In [5]:
a=int(input("Enter ur age"))
if(a>=18):
  print("Above")
elif(a<0):
  print("Bc")
else:
  print("Below")
print("Program End")

Enter ur age12
Below
Program End

Multiple If Statement

In [6]:
num=int(input("Enter your number"))
#this is independant if
if(num%2==0):
  print("Even")
#this is also indepandant
if(num>=18):
  print("greater than 18")
#this indepandant
if(num>20):
  print("number greater than 20")
elif(num>=30):
  print("number greater than 30")
else:
  print("less than 30")
  #those Statement which are indipandant run indipandant

Enter your number50
Even
greater than 18
number greater than 20

**For-Loop Statement**

In [9]:
for i in range(3,10+1):
  print(i)

3
4
5
6
7
8
9
10

This is while loop

In [13]:
i=3
while(i<10):
  print(i)
  i+=1;

3
4
5
6
7
8
9

In [14]:
# range(start,end,step_size)
for i in range(0,50,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [16]:
#for loop[ in String]
s="Abhishek"
for i in s:
  print(i)
#for in List
l=[1,2,3,4]
for i in l:
  print(i)
#for loop in Tuple
l=(1,2,3,4,5,5)
for i in l:
  print(i)

A
b
h
i
s
h
e
k
1
2
3
4
1
2
3
4
5
5

Pass Statement

In [19]:
# pass statement
for i in range(1,10):
  pass
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

Remember the concept of the F" String

```
# This is formatted as code
```