<a href="https://colab.research.google.com/github/Abhi0pal/Python_Practice/blob/main/Data_type_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a="harry us a good boy \n this ia abhishek pal"
print(a)

NameError: name 'n' is not defined

In [ ]:
Name=input("Enter your name")
print(f"My name is {Name}")

Enter your namepal
My name is pal

Triple Quote String

In [ ]:
letter='''This is   abhuieg
         pal'''
print(letter)

This is   abhuieg
         pal

In [ ]:
from os import replace
Nomination='''Dear <|Name|>,
You are  Selected  on <|SIH|>
on the <|Date|>'''
print(Nomination.replace("<|Name|>","Abhishek").replace("<|SIH|>","Smart India HAckathon").replace("<|Date|>","25/05/10"))

Dear Abhishek,
You are  Selected  on Smart India HAckathon
on the 25/05/10

List And Tuples

In [ ]:
l=["apple","lol","Happy",4,2,0,False]
l.append("Last")
l.reverse()
print(l)

['Last', False, 0, 2, 4, 'Happy', 'lol', 'apple']

Tuple

In [2]:
a=(1,2,3,4,5)
# print(type(l))
print(2 in a)

True

In [8]:
f1=[]
a=int(input("Enter"))
f1.append(a)
b=int(input("Enter"))
f1.append(b)
c=int(input("Enter"))
f1.append(c)
print(f1)
f1.sort()
print(f1)

Enter3
Enter3
Enter4
[3, 3, 4]
[3, 3, 4]

Tuple and String is immutable in nature

List

In [11]:
l=[1,2,3,4,4,4,44,4,4]
# print(sum(l))
print(l.count(4))

5

**Dictionary and Sets**
Dictionarynis mutable in nature

In [12]:
marks={
    "Rahul":23,
    "Karan":34,
    "Abhishek":90

}

In [25]:
# print(type(marks["Abhishek"]))
# print(marks.keys())
marks.update({"Karan":99,"Pakistan":"Mc"})
print(marks.get("Karan"))

99

Sets

In [31]:
a=set() #this is empty Set
a={1,2,3,4,5}
print(type(a),a)

<class 'set'> {1, 2, 3, 4, 5}

Union and intersection

In [32]:
s1={1,2,4}
s2={1,2,4,5,6,7}
print(s1.union(s2))
print(s1.intersection(s2)) #common ele in both set

{1, 2, 4, 5, 6, 7}
{1, 2, 4}